
#header{
margin-bottom: 32px;
text-align: center;
}

#footer{
text-align: center;
margin-top: 64px;
}

p{
margin-bottom: 12px;
}

h1{
font-weight: 400; 
margin-bottom: 0px;
font-size: 36px;
}

h2{ 
font-size: 32px;
border-bottom-style: solid; 
border-bottom-color: gray;
margin-bottom: 8px;
}

h3{ 
font-size: 20px;
margin-bottom: 0px;
}
